*.slo
*.lo
*.o
*.obj
*.gcno
*.gcda
# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.d
# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.appi

/html
/.cproject
/.project
/gmon.out
/perf.data
/perf.data.old
/Release c++11
/DebugTest
/.settings
